<div class="mainArea">
  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third">
        <h1 class="title has-text-centered">Şifre Oluşturucu</h1>
  
        <div class="field">
          <label>Şifre Uzunluğu</label>
          <input class="input" (change)="modifyLength($event.target.value)" />
        </div>
  
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifyLetters()" type="checkbox" />
              Alfabeyi Kullan
            </label>
          </div>
        </div>
  
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifyNumbers()" type="checkbox" />
              Sayıları Kullan
            </label>
          </div>
        </div>
  
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifySymbols()" type="checkbox" />
              Sembolleri Kullan
            </label>
          </div>
        </div>
  
        <button
          [disabled]="
            !(length && (includeLetters || includeSymbols || includeNumbers))
          "
          [disabled]="!length"
          (click)="buttonClick()"
          class="button is-link is-fullwidth"
        >
         Oluştur
        </button>
        <!-- Burada ngIf ile eğer password var ise bu div gözükür hale gelir, password true ise gözüküyor passwordün başlangıç değeri '' yani boş string olması aynı sayılarda olduğu gibi js tarafında nasıl number da 0 false algılanıyorsa, boş string false olarak algılanır buttona basıldığın da password'e değer ataması oluyor sonuçta bir string değer var diyor bu yüzden true olarak algılanıyor güzükür hale gelir div. Boş string false olarak algılanıyor dolu string true olarak algılanıyor. -->
        <!-- *ngIf="password !=''" ve  *ngIf="password aynı şeyler -->
        <div class="box" *ngIf="password">
          <label>Şifreniz</label>
          <input class="input" [value]="password" />
        </div>
      </div>
    </div>
  </div>
</div>
